<%- include('header', {title: title}); %>
<%- include('navbar') %>
</br>
<h1>Informações do Usuário </h1>

<div class="row">
    <div class="offset-md-4 col-md-4 col-sm-12">
        <div class="card mb-3" style="max-width: 540px;padding: 16px;">
            <h5 class="card-title">Perfil do usuário</h5>
            <div class="row g-0">
                <div class="col-md-4 col-sm-12">
                <img src="/imgs/poc1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><img src="/bootstrap-icons-1.9.0/person-badge.svg"></span>
                            <input type="text" name="nome_paciente" class="form-control" placeholder="<%= name %>" aria-label="Nome" aria-describedby="basic-addon1" disabled>
                        </div>
                        <div class = "input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><img src="/bootstrap-icons-1.9.0/123.svg"></span>
                            <input type="number" name="altura" step="0.01" class="form-control" placeholder="<%= altura %> m"aria-label="Altura" aria-describedby="basic-addon1" disabled>
                        </div>   
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><img src="/bootstrap-icons-1.9.0/123.svg"></span>
                            <input type="number" name="peso" class="form-control" placeholder="<%= peso %> kg" aria-label="Peso" aria-describedby="basic-addon1" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">IMC</span>
                            <input type="number" name="imc" class="form-control" placeholder="<%= imc %>" aria-label="IMC" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
            </div>
        </div>    
    </div> 
</div>

<div class="row">
    <div class="offset-md-4 col-md-4 col-sm-12">
        <form action="/api/atualizarDados" method="post">
            <select class="form-select" id="update_select" name="update" aria-label="Default select example" onchange="changeClass(this)">
                <option value="0" selected>Selecione o campo a ser alterado</option>
                <option value="1">Nome</option>
                <option value="2">Altura</option>
                <option value="3">Peso</option>
            </select>
            <div class="input-group mb-3">
                <input id="update_name_valor" name="update_name" type="text" class="d-none form-control" placeholder="Novo nome" aria-label="Nome" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input id="update_altura_valor" name="update_altura" type="number" step="0.01" min="0" class="d-none form-control" placeholder="Nova altura (M)" aria-label="Altura" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input id="update_peso_valor" name="update_peso" type="number" step="0.01"  min="0" class="d-none form-control" placeholder="Novo peso (Kg)" aria-label="Peso" aria-describedby="basic-addon1">
            </div>
            <div class="d-grid gap-2"><button type="submit" class="btn btn-primary" style="max-width: 100%;">Enviar</button></div>
        </form>
    </div>
    
</div>


<script src="/js/perfil.js"></script>

<%- include('footer'); %>
